/* TabBar */
.app {
  height: 97vh;
}
.app .body {
  padding-bottom: 60px;
}
.app .bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px var(--adm-color-border);
  background-color: #fff;
}
.app .adm-tab-bar-item-active {
  color: var(--adm-color-success);
}
.app .bottom .iconfont {
  font-size: 20px;
}
