html,
body {
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* 解决 找房页面 展示遮罩层后，页面还会滚动的问题 */
.body-fixed {
  overflow: hidden;
}
